* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --primary: #0055FF;
    --secondary: rgba(0, 85, 255, 0.1);
    --gradient: linear-gradient(-45deg, var(--primary), rgba(0, 85, 255, 0.5));
    --gray: rgba(0, 0, 0, 0.7);
    --size1: 20px;
    --size2: 16px;
    --size3: 12px;
    --space: 20px;
    --box1: 50px;
}

/* Elements */

a {
    color: var(--primary);
    font-weight: 600;
    text-decoration: none;
}

.btn1 {
    display: flex;
    width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: var(--size2);
    border-radius: 20px;
    background-color: var(--primary);
    color: white;
    border: 0;
    cursor: pointer;
    font-weight: 600;
}

.screen {
    margin: 0 auto;
    max-width: 670px;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}


/* Login */

.page {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    padding: var(--space);
    padding-top: 25px;
}

.headding {
    text-align: center;
    margin: 0 auto;
}

.top h1 {
    font-size: var(--size1);
    font-weight: 600;
}

.top .bi {
    font-size: 30px;
    cursor: pointer;
}

.body {
    display: flex;
    height: 100%;
    padding: 0 var(--space);
    padding-bottom: 10vh;
    position: relative;
}

.body-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 40px;
    gap: 30px;
}

.body-form .btn1 {
    margin-top: auto;
}

.input {
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.input label {
    font-size: var(--size2);
    color: var(--gray);
}

.input input,
.input select {
    outline-color: var(--primary);
    padding: 15px;
    background-color: var(--secondary);
    width: 100%;
    border: 0;
    border-radius: 15px;
    font-size: var(--size2);
}